<?xml version="1.0" encoding="utf-8"?>
<ModSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <baseInteractionExp>2</baseInteractionExp>
  <baseInteractionExpComment>
    <!--Base exp value gained by initiator/recipient. Default value is 2-->
  </baseInteractionExpComment>
  <baseInteractionIntiatorDividend>20</baseInteractionIntiatorDividend>
  <baseInteractionIntiatorDividendComment>
    <!--Dividend in initiator exp gain function. Increase to increase the amount of exp the initiator gets. Default value is 20-->
  </baseInteractionIntiatorDividendComment>
  <baseInteractionRecipientExpMultiplier>3</baseInteractionRecipientExpMultiplier>
  <baseInteractionRecipientExpMultiplierComment>
    <!--Multiplier in recipient exp gain function. Increase to increase the amount of exp the recipient gets. Default value is 3-->
  </baseInteractionRecipientExpMultiplierComment>
  <baseInteractionWeight>0.2</baseInteractionWeight>
  <baseInteractionWeightComment>
    <!--Controls how often the education interaction activates. Default value is 0.2-->
  </baseInteractionWeightComment>
  <interactionAdjustMultiplier>1</interactionAdjustMultiplier>
  <interactionAdjustMultiplierComment>
    <!--An adjustment multiplier to how often the education interaction activates. Default value is 1-->
  </interactionAdjustMultiplierComment>
  <interactionInitiatorMajorPassionExpMultiplier>2</interactionInitiatorMajorPassionExpMultiplier>
  <interactionInitiatorMajorPassionExpMultiplierComment>
    <!--Multiplier in initiator exp gain function, for major passions. Increase to increase the amount of exp the initiator gets. Default value is 2-->
  </interactionInitiatorMajorPassionExpMultiplierComment>
  <interactionInitiatorMasterLessionLevelRequirement>20</interactionInitiatorMasterLessionLevelRequirement>
  <interactionInitiatorMasterLessionLevelRequirementComment>
    <!--Static level requirement for initiator for master lessons to activate. Max value is 20. Default value is 20-->
  </interactionInitiatorMasterLessionLevelRequirementComment>
  <interactionRecipientMajorPassionExpMultiplier>4</interactionRecipientMajorPassionExpMultiplier>
  <interactionRecipientMajorPassionExpMultiplierComment>
    <!--Multiplier in recipient exp gain function, for major passions. Increase to increase the amount of exp the recipient gets. Default value is 4-->
  </interactionRecipientMajorPassionExpMultiplierComment>
  <interactionRecipientMasterEducationExpMultiplier>8</interactionRecipientMasterEducationExpMultiplier>
  <interactionRecipientMasterEducationExpMultiplierComment>
    <!--Multiplier in recipient exp gain function, for master education. Increase to increase the amount of exp the recipient gets. Default value is 8-->
  </interactionRecipientMasterEducationExpMultiplierComment>
  <interactionRecipientMasterLessonChance>0.05</interactionRecipientMasterLessonChance>
  <interactionRecipientMasterLessonChanceComment>
    <!--Chance of master lesson activation. Max value is 1. Default value is 0.05-->
  </interactionRecipientMasterLessonChanceComment>
  <interactionRecipientMasterLessonLevelGain>2</interactionRecipientMasterLessonLevelGain>
  <interactionRecipientMasterLessonLevelGainComment>
    <!--Static level increases for recipient during master lessons. Increase to increase the amount of levels the recipient gets. Max value is 20. Default value is 2-->
  </interactionRecipientMasterLessonLevelGainComment>
  <interactionRecipientMinorPassionExpMultiplier>2</interactionRecipientMinorPassionExpMultiplier>
  <interactionRecipientMinorPassionExpMultiplierComment>
    <!--Multiplier in recipient exp gain function, for minor passions. Increase to increase the amount of exp the recipient gets. Default value is 2-->
  </interactionRecipientMinorPassionExpMultiplierComment>
</ModSettings>